@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500&display=swap');

/*
"DM Mono", monospace
bg: 18, 18, 18
border-inactive: 83,83,83
border-active: 30,215,96
*/
:root {
    --background: rgb(18,18,18);
    --active: rgb(30,215,96);
}

html {
    background-color: var(--background);
    overflow: hidden;
    font-family: 'DM Mono', monospace;
}

#container {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align form elements to the center */
    gap: 10px;
}

pre {
    color: var(--active);
    text-align: center;
    font-size: 15px;
    margin: -15px;
}

.input_container {
    position: relative;
    margin-bottom: 3px;
}

input, button {
    box-sizing: border-box;
    width: 622.5px; /* Set a fixed width for consistency */
    padding: 10px 5px 10px 10px; /* Add padding to inputs for better appearance */
    color: white;
    border: 1px solid rgb(83, 83, 83);
    background-color: transparent;
    outline: none;
    transition: border-color 0.3s ease;
    font-size: 24px; /* Ensure the font size is consistent */
    line-height: 1.2; /* Ensure the line height is consistent */
}

input:focus, input:hover {
    border-color: var(--active);
}

label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(83, 83, 83);
    pointer-events: none;
    transition: 0.3s ease all;
    text-align: center;
    width: auto;
    padding: 0 2px; /* Add padding to accommodate the label size transition */
}

input:focus + label, input:valid + label {
    background-color: var(--background);
    top: 0px;
    left: 7px;
    font-size: 18px;
}

input:hover + label, input:focus + label{
    color: var(--active);
}

button {
    font-family: "DM Mono", monospace;
    border: none;
    padding: 10px; /* Ensure the padding matches the input fields */
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
    align-self: center;
    background-color: var(--active);
    color: black;
    transition: 0.3s ease all;
}

button:hover {
    transform: scale(1.025);
}

input {
    color: white;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 60px var(--background) inset;
    background-color: var(--background) !important;
    background-clip: content-box !important;
    -webkit-text-fill-color: white !important;
    caret-color: white !important; /* Ensures the caret is visible */
}
